
.container {
  display: flex;
  flex-wrap: wrap;
}
/* .timer {
  border: solid 4px red;
  border-radius: 10px;
  color: red;
  margin-top: 350px;
  margin-left: 250px;
  margin-right: 50px;
} */
.timer {
  border: solid 4px red;
}
a{
  color: yellow;
}
img {
  width: 500px;
  height: 500px;
  margin: 7px;
  border-radius: 10px;
  object-fit: cover;
}

img:hover {
  opacity:0.5;
}
ul {
  list-style-type: none;
  margin-left: 800px;
}
li {
  display: inline;
  padding: 5px;

}
h3{
  text-align: center;
  margin-top: -15px;
  color: white;
}

.navbar {
  margin: 20px;
  padding:5px;
  border-radius: 10px;
  background-color: #EE5E4F;
}
img:hover {
  background-color: yellow;
}
.text{
  color:red;
  font-size: 20px;
  position: absolute;
  text-align: center;
}
.card-container {
  padding: 30px;
  background: #EE5E4F;
  margin-left: 330px;
  margin-right: 330px;
  border-radius: 10px;
}
.new-opp-card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: 375px;
  background: #fff;
  border-radius: 10px;
}
.favorite {
  background-color: red;
}
.description {
  margin: 10px 5px 5px 10px;
  border: solid 5px #EE5E4F;
  border-radius: 10px;
}

.summer-opp-btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  border: solid 3px #EE5E4F;
  border-radius: 10px;
  text-align: center;
  color: #EE5E4F;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.6s;
  margin: 5px;
}

.summer-opp-btn:hover {
  background-color: #EE5E4F;
  color: white;
}
.delete {
  background-color: #efef01;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  border: solid 2px #EE5E4F;
  border-radius: 10px;
  text-align: center;
  color: #EE5E4F;
  font-size: 10px;
  padding: 5px;
  width: 50px;
  transition: all 0.6s;
  margin-left: 150px;
}

.delete:hover {
  background-color: #EE5E4F;
  color: white;
}
